<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HWLuxxShellyProject.Properties.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <HWLuxxShellyProject.Properties.Settings1>
            <setting name="url" serializeAs="String">
                <value>http://192.168.x.x/status</value>
            </setting>
            <setting name="updateTime" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="nameReg" serializeAs="String">
                <value>shellyWatt</value>
            </setting>
            <setting name="startUpRun" serializeAs="String">
                <value>False</value>
            </setting>
        </HWLuxxShellyProject.Properties.Settings1>
    </userSettings>
</configuration>